@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Titillium Web';
} 

.hover-shadow:hover{
  box-shadow: 5px 6px;
}

.box-shadow-unhover{
  box-shadow: 2px 2px;
}
.box-shadow-unhover:hover{
  box-shadow: 0px 0px;
}
.login-box-container{
  font-family: 'Poppins';
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

.menu-mobile{
  animation-name: openmenu;
  animation-duration: .3s;
  display:flex;
}

@keyframes openmenu{
  0%{
    opacity:0;
  }
  100%{
    opacity:100;
  }
}